<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container m-5">
    <div class="row">
        <div class="col">
            <div>
                <h4 th:text="${board.boardTitle}"></h4><span th:text="|(${board.boardHits})|"></span>
            </div>
            <div class="d-flex justify-content-between ms-5 mb-5">
                <h5 th:text="|작성자 : ${board.boardWriter}|"></h5>
                <h6 th:text="|작성일 : ${board.createdAt}|"></h6>
            </div>
            <div class="card p-4 mb-5">
                <p th:text="${board.boardContents}"></p>
            </div>
            <div class="text-end mb-5">
                <button class="btn btn-info" onclick="pass_area('update')">글수정</button>
                <button class="btn btn-danger" onclick="pass_area('delete')">글삭제</button>
            </div>

            <div id="pass-area"></div>
        </div>
    </div>
</div>



<hr>
<div th:replace="~{component/footer :: footer}"></div>
</body>

<script th:inline="javascript">
    const pass_area = (type) =>{
        const passArea = document.getElementById("pass-area");
        passArea.style.display = "block";
        passArea.innerHTML =
            `<div class="input-group">
                <span class="input-group-text">비밀번호</span>
                <input type="password" class="form-control" name="password">
                <input type="button" class="btn btn-outline-danger" onclick="pass_check('${type}')" value="확인">
            </div>`
    }

    const pass_check = (type) =>{
        const passInput =document.querySelector("[name='password']").value;
        const id = [[${board.id}]];
        if(type== "update"){
            location.href = `/board/update/${id}`;
        }else if (type == "delete"){
            if(confirm("정말로 삭제하시겠습니까?")){
                axios({
                    method: "delete",
                    url: `/board/${id}`,
                    params: {password : passInput}
                }).then(req => {
                    alert("삭제 성공")
                    location.href = "/board";
                }).catch(err =>{
                    alert("삭제 실패")
                });
            }
        }
    }
</script>

</html>