<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container m-5">
    <div class="row">
        <div class="col">
            <form name="update-form" action="/board/save" method="post">
                <div style="display: none;">
                    <input name="id" th:value="${board.id}" readonly>
                    <input name="boardHits" th:value="${board.boardHits}" readonly>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">제목</span>
                    <input class="form-control" name="boardTitle" th:value="${board.boardTitle}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">작성자</span>
                    <input class="form-control" name="boardWriter" th:value="${board.boardWriter}" readonly>
                </div>
                <div class="input-group mb-3">
                    <textarea class="form-control" name="boardContents" th:text="${board.boardContents}"></textarea>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">비밀번호</span>
                    <input type="password" class="form-control" name="boardPass">
                </div>
                <div class="text-end">
                    <input type="button" class="btn btn-outline-primary" value="수정" th:onclick="update_fn([[${board.id}]])">
                </div>
            </form>
        </div>
    </div>
</div>

<hr>
<div th:replace="~{component/footer :: footer}"></div>
</body>

<script th:inline="javascript">
    const updateForm = document.querySelector("[name='update-form']")

    const update_fn = (id) => {
        const title = document.querySelector("[name='boardTitle']").value;
        const writer = document.querySelector("[name='boardWriter']").value;
        const contents = document.querySelector("[name='boardContents']").value;
        const hits = document.querySelector("[name='boardHits']").value;
        const pass = document.querySelector("[name='boardPass']").value;
        console.log(contents);
        axios({
            method:"post",
            url:"/board/update",
            data:{
                id : id,
                boardWriter : writer,
                boardTitle : title,
                boardContents : contents,
                boardHits : hits,
                boardPass : pass
            }
        }).then(res => {
            alert("수정 성공");
            location.href = `/board/${id}`;
        }).catch(err =>{
            alert("비밀번호가 틀렸습니다.");
            console.log(err)

        })
    }
</script>

</html>